@charset "UTF-8";

.margin-bottom {
	margin-bottom: 15px;
}

.form-inline .form-control.dis-auto-width {
	width: 100%;
	height: 25px;
	padding: 3px 3px;
	margin: 1px;
}

input[type="text"].dis-bottom-margin {
	margin-bottom: 0;
	width: 100%;
	height: 25px;
	padding: 3px 3px;
}

.form-group-sm select.form-control.select-box {
	height: 25px;
	line-height: 25px;
	padding: 2px 10px;
}

.col-xs-offset-10.button-right-offset {
	margin-left: 88.33333333%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
	font-size: 10px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	padding: 1px;
	vertical-align: middle;
}

.row-order {
	text-align: center;
}

.delete-btn {
	text-align: center;
}

.form-inline .form-control.text-align-right {
	background-image: url(http://i.imgur.com/Fd7NROx.png);
	border: 1px solid #aaa;
	padding: 5px;
	padding-left: 20px;
	background-size: 10px 15px;
	background-repeat: no-repeat;
	background-position: 8px 6px;
	text-align: right;
}

input[type="text"].dis-bottom-margin.gross-text-right {
	background-image: url(http://i.imgur.com/Fd7NROx.png);
	border: 1px solid #aaa;
	padding: 5px;
	padding-left: 20px;
	background-size: 10px 15px;
	background-repeat: no-repeat;
	background-position: 8px 6px;
	text-align: right;
}

.form-inline .form-control.text-align-center {
	text-align: center;
}

hr {
	margin-top: 1px;
	margin-bottom: 3px;
	overflow: visible; /* For IE */
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}

hr:after {
	/* content: "§"; */
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

.swal-overlay {
	background-color: rgba(43, 165, 137, 0.45);
}

#sum-gross-amount, #sum-discount-amount, #sum-net-amount {
	float: left;
	width: 100px;
}



#total-label {
	float: left;
	width: auto;
	margin-left: 350px;
}

#sum-gross-amount {
	margin-left: 96px;
}

#sum-discount-amount {
	margin-left: 66px;
}

#sum-net-amount {
	margin-left: 1px;
}

#btn-reset {
	margin-left: 120px;
	padding: 5px 10px;
}

#btn-submit {
	margin-left: 8px;
	padding: 5px 10px;
}

.form-group.custom-form-group {
	margin: 1.5rem;
}

.text-uppercase.text-center {
	text-align: center;
}
