 <div class="modal fade" role="dialog" tabindex="-1"
	 id="confirm-box">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2 class="modal-title">Please Confirm</h2>
			</div>
			<div class="modal-body">
				<p>Do you want to continue&hellip;
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary confirm" name="confirm" id="confirm">Confirm</button>
			</div>
		</div>
	</div>
</div> 

 
 
