
<!-- JS -->

<!-- JQuery Core -->
<!--  <script type="text/javascript" src="js/jquery-1.12.4.js"></script>  -->

<script type="text/javascript" src="js/jquery-3.3.1.js"></script> 

<!-- JQuery UI  -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<!-- Latest compiled and minified Bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- Latest compiled and minified Bootstrap -->
<script type="text/javascript" src="js/all.js"></script>

<!-- Latest compiled and minified Bootstrap Select-->
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

<!-- Latest compiled and minified Bootstrap WYSIWYG editor -->
<script type="text/javascript" src="js/editor.js"></script>

<!-- Latest compiled and minified summernote editor -->
<script type="text/javascript" src="js/summernote.js"></script>

<!-- Latest compiled and MDTimePicker -->
<script type="text/javascript" src="js/mdtimepicker.min.js"></script>



<!-- Bootstrap and Jquery Data Table -->
 <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
 <script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
 <script type="text/javascript" src="js/dataTables.fixedColumns.min.js"></script> 
 <script type="text/javascript" src="js/dataTables.responsive.min.js"></script> 
 <script type="text/javascript" src="js/responsive.bootstrap.min.js"></script> 
 
 <!-- JQuery Button -->
 <script type="text/javascript" src="js/dataTables.buttons.min.js"></script> 
 	

<!-- End of JS -->

<!-- Sweet Alert -->
<script type="text/javascript" src="js/sweetalert2.js"></script>

<!-- Right Side Nav Bar -->
<script type="text/javascript" src="js/customizer.js"></script>

<!-- JQuery Context Menu -->
	<script type="text/javascript" src="js/jquery.contextMenu.min.js"></script>
 <script type="text/javascript" src="js/jquery.ui.position.min.js"></script> 

<!-- JQuery Perfect Scroller -->
<script type="text/javascript" src="js/perfect-scrollbar.js"></script>


<script>

	$(document).ready(function() {
	    $('#example').DataTable();
	}); 

	

	$(document).ready(function (){
		 $( "#fromDate" ).datepicker({
			  changeMonth: true,
		      changeYear: true,
		      yearRange: '1830:+0',
		      dateFormat: 'd-M-yy'
			 });
		});

	function addDashes(f)
	{
		
	f.value = f.value.slice(0,2)+"-"+f.value.slice(2,4)+"-"+f.value.slice(4,6);
	}


</script>

